speechrecognition
sounddevice
numpy
opencv-python
transformers
torch
torchvision
torchaudio
Pillow
pyttsx3
google-generativeai
python-dotenv
opencv-contrib-python
sympy
latex2sympy2
pix2text
antlr4-python3-runtime
Flask